.card {
  border: 1px solid hsl(0, 5%, 62%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
  font-family: Arial, sans-seriff;
}

.card .card-image {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  margin: 0;
  color: hsl(0, 0%, 30%);
}

.card .card-text {
  color: hsl(0, 0%, 40%);
}
